@import '../basic.css';  

:root {
    --main-influence-dark-color: #922ed6;
    --main-influence-medium-color: #43b8ff;
    --main-influence-light-color: #1ff2ec;
    --admonitions-title-influence-color: #922ed6;
    --admonitions-background-influence-color: #edd2ff;
    --links-influence-color: #922ed6;
    --influence-background-dark: #0e253b;
    --influence-background-light: #263c4e;
  }


div.admonition {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 7px;
}

.strike {
    text-decoration: line-through;
  }

/* -- hover image container ---------------------------------------------------------- */
div.box {
    margin-bottom: 0px;
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* -- video container ---------------------------------------------------------- */
div.video {
    margin-bottom: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* -- mainpage, template, basic pool graphic hover on ---------------------------------------------------------- */
div.templ {
    position: relative;
}

div.templ:hover .templhover {
    opacity: 1
}

div.templhover{
    opacity: 0;
    position: absolute;
    top: -8px;
    transition: opacity 300ms;
 }

div.templhover.templhover-basic{
    top: -24px !important;
}

/* header and footer color */
.wy-side-nav-search, .rst-current-version{
    background-color: var(--influence-background-dark);
}

/* navbar body background color */

.wy-nav-side{
    background-color: var(--influence-background-light);
}

/* navigation title */
.wy-menu.wy-menu-vertical p {
    color: #44b9ff;
}

/* logo in nav header */
.wy-side-nav-search a img.logo{
    height: 125px;
}

/* currently chosen menu color */
.wy-menu-vertical li.current>a, .wy-menu-vertical li.on a {
    background-color: var(--main-influence-medium-color);
}

/* admonitions headers and body color */
div.admonition.important, .rst-content .admonition {
    background-color: var(--admonitions-background-influence-color);
}

.admonition.important-title, .rst-content .admonition-title, .wy-alert-title, .rst-content .note .admonition-title {
    background-color: var(--admonitions-title-influence-color);
}

.rst-content .important .admonition-title {
    background: var(--admonitions-title-influence-color);
}

.admonition.warning {
    background-color: #ffedcc;
}

/* links colors */

.toctree-wrapper.compound a, #indices-and-tables a, .section a {
    color: var(--links-influence-color);
}

p a.reference.external, div a.reference.external{
    color: var(--links-influence-color);
}

/* our products link colors -------------------------------------*/
/* launch.vote */
#our-products a[href="https://financevote.readthedocs.io/projects/auction/en/latest/"] {
    color: #ee265d;
}

/* bank.vote */
#our-products a[href="https://financevote.readthedocs.io/projects/bank/en/latest/"] {
    color: black;
}

/* influence.vote */
#our-products a[href="https://financevote.readthedocs.io/projects/influence/en/latest/"] {
    color: #922ed6;
}

/* markets.vote */
#our-products a[href="https://financevote.readthedocs.io/projects/markets/en/latest/"] {
    color: #1f6ee4;
}

/* yield.vote */
#our-products a[href="https://financevote.readthedocs.io/projects/yield/en/latest/"] {
    color: #009246;
}


/* back to main page */
#back-to-main-page a {
    color: #00dcc8;
}